<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tokopi</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/assets/css/styles.css" rel="stylesheet" />
    <script src="/assets/js/jquery.js"></script>
    <style>
        .w-custom {
            width: calc(25% - 0.5rem);
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }

        input[type=number] {
            -moz-appearance:textfield; /* Firefox */
        }
    </style>
</head>
<body>
<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Enjoy buy our coffee</span>
        <span class="site-heading-lower">TOKOPI</span>
    </h1>
</header>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="/">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/">Home</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/menu">Products</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/order">Order</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- ============================================================Content======================================================================== -->
<section class="page-section">
    <div class="container">

        <div id="product-showcase" class="d-flex gap-2 flex-wrap">
            <div class="product-item bg-faded rounded w-custom" th:each="menu : ${menus}">
                <div class="w-100">
                    <div class="bg-faded p-3 d-flex rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper" th:text="${menu.name + ' (' + menu.getCategory() + ')'}">Strawberry Frappe</span>
                        </h2>
                    </div>
                </div>
                <img class="d-flex w-100 img-fluid mb-3 mb-lg-0 bg-white " th:src="${'/assets/img/menu/' + menu.getImage_url()}" src="/assets/img/menu/strawberry-frappe.png" th:alt="${menu.getName()}" alt="..." />
                <div class="d-flex">
                    <div class="bg-faded p-3 rounded">
                        <p class="mb-0" th:text="${menu.getDescription()}">
                            Strawberry Frappe is a drink made from fresh strawberries and milk. This drink is very suitable for those of you who like sweet and fresh drinks.
                        </p>
                        <h2 class="mb-0">
                            <span class="section-heading-upper" th:text="${'Rp' + menu.price}">Strawberry Frappe</span>
                        </h2>
                        <button class="btn btn-primary w-100" type="button" data-bs-toggle="modal" data-bs-target="#orderConfirm" data-th-attr="data-makanan-id=${menu.getId()}" data-th-attrappend="data-makanan-nama=${menu.getName()} + ' - Rp' + ${menu.getPrice()}" onclick="orderButtonClick(this)">Order</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="orderConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Order</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="btnClose" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="section-heading mb-0">
                    <span id="foodName" class="section-heading-upper"></span>
                </h2>
                <form id="orderForm" action="" method="post">
                    <input type="hidden" name="foodId" id="foodId" value="">
                    <input type="number" min="1" name="foodQuantity" id="foodQuantity">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="placeOrder(this)">Place Order</button>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================Content======================================================================== -->

<footer class="footer text-faded text-center py-5">
    <div class="container"><p class="m-0 small">Copyright &copy; Tokopi 2023</p></div>
</footer>

<script src="/assets/js/bootstrap-input-spinner.js"></script>
<script>
    $("input[type='number']").inputSpinner()
</script>

<script>
    function orderButtonClick(e) {
        let id = e.getAttribute("data-makanan-id");
        let name = e.getAttribute("data-makanan-nama");
        document.getElementById("foodName").innerHTML = name;
        document.getElementById("foodId").value = id;
    }

    function placeOrder(e) {
        let id = document.getElementById("foodId").value;
        let quantity = document.getElementById("foodQuantity").value;

        // todo : send order to server with ajax

        document.getElementById("btnClose").click();
    }
</script>

<!-- Bootstrap core JS-->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Core theme JS-->
<script src="/assets/js/scripts.js"></script>
</body>
</html>
